// HTML
.syntax--constant.syntax--character .syntax--entity {
  color: @pac-purple;
}

// TWIG
.syntax--comment .syntax--twig .syntax--function {
  color: @pac-passive;
}

// JAVASCRIPT
.syntax--source.syntax--js {
  .syntax--var + .syntax--variable {
    color: @pac-white;
  }
}

// Github Flavored Markdown
.syntax--gfm {
  .syntax--italic { font-style: italic; }
  .syntax--bold { font-weight: bold; }
  .syntax--underline { text-decoration: none; }

  .syntax--heading { color: @pac-red; }
  .syntax--link, .syntax--entity { color: @pac-yellow; }
  .syntax--markup.syntax--underline { color: @pac-passive; }

  .syntax--comment, .syntax--quote { color: @pac-green; font-style: italic; }
  .syntax--raw { color: @pac-blue; }

  .syntax--list { color: @pac-purple; }
}

// JSON
.syntax--source.syntax--json {
  .syntax--meta { color: @pac-white; } // parentheses

  // json key
  .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string { color: @pac-blue; }

  .syntax--meta .syntax--meta .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string { color: @pac-green; }

  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string { color: @pac-yellow; }

  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string,
  .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--string { color: @pac-red; }

  // json value
  .syntax--key-value + .syntax--string {
    color: @pac-white !important;

    .syntax--punctuation { color: @pac-white !important; }
  }
}
